/*
  Variables
*/

$base-text-color: #d8d8d8;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span{
  font-family: 'Reem Kufi', sans-serif;
}


#particles-js{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

canvas {
  display: block;
  position: absolute;
}

html{
  background-color: #646782;
  overflow: hidden;
}

/*
  Main Wrapper
*/
.main-wrapper{
  overflow: hidden;
  margin: auto;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  border: 6px solid white;
  margin: 0px;
  overflow-y: scroll;

  /*Grid*/

  display: grid;
  grid-auto-rows: 1fr;
  grid-template-areas: "top top top top"
                        "mid mid mid mid"
                        "bot bot bot bot";

  .resize{
    display: none;
  }
}


/*
  Scrollbar
*/
::-webkit-scrollbar {
  display: none;
}


/*
  Top row
*/
.top-row-wrapper{
  grid-area: top;
  grid-column: 1 / 5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/*
  Middle row
*/
.middle-row-wrapper{
  grid-area: mid;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  font-size: 25pt;


  .side-button{
    span{
      position: relative;
    }
    span:before{
      content: '';
      background: rgba(255,255,255,0);
      position: absolute;
      left: 0;
      top: 5px;
      width: 100%;
      height: 2px;
      transition: all .3s ease;
    }

    span:hover:before{
      transform: translateY(-5px);
      background: rgba(255,255,255,.5);
    }

    span:after{
      content: '';
      background: rgba(255,255,255,.0);
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 2px;
      transition: all ease 0.3s;
    }


    

    span:hover:after{
      transform: translateY(5px);
      background: rgba(255,255,255,.5);
    }

    
  }

  .about-wrapper{
    grid-area: about;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1;

  }

  .blog-wrapper{
    grid-area: blog;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    grid-column: 4 / 5;
    grid-row: 1;

    
  }

  .name-wrapper{
    grid-area: name;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    grid-column: 2 / 4;
    font-size: 100pt;
    grid-row: 1;

    display: grid;
    grid-template-areas: "twitter name name github";
    grid-gap: 30px;

    .name{
      color: $base-text-color;
      grid-area: name;
    }


    .icon-wrapper{
      svg{
        width: 30px;
        height: auto;
        transform: translateY(-30px);
        color: $base-text-color;
        transition: all ease 0.3s;

        &:hover{
          transform: translateY(-33px);
        }
      }
    }

  }

  a{
    text-decoration: none;
    color: white;
    outline: none;
  }
}

/*
  Bottom row
*/
.bottom-row-wrapper{
  grid-area: bot;
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/*
  Project wrapper
*/
.project-wrapper{
  text-align: center;
  margin:  0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  
  

  a{
    text-decoration: none;
    text-decoration-line: none;
  }

  .project-info{
    
    margin: auto;
    max-width: 300px;
    height: auto;
    transition: all linear 0.3s;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    position: relative;

    svg{
      transition: all ease 0.3s;
      transform: translateY(0px);
    }

    &:after{
      animation: grow 1s;
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(255,255,255,0);
    }

    &:hover{
      color: white;
      svg{
        animation: hover 2.5s infinite; /* IE 10+, Fx 29+ */
        transition-timing-function: ease-out;
        transform: translateY(0px);
        transition: all ease 1s;
      }
 
      

      
      

      &:after{
        content:'';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        //background: rgba(255,255,255,1);
      }
    }


    /* Put this in it's own file and then import it*/
    @keyframes hover{
      50%{transform: translateY(-5px);}
    }


    &:last-child svg{
      margin-bottom: -20px;
    }


    &:first-child p{
      font-weight: bold;
      font-size: 13pt;
      font-family: 'Varela', sans-serif;
      /*Description*/
      &:last-child{
        max-width: 300px;
        margin: auto;
        font-weight: lighter;
        font-size: 12pt;
        color: $base-text-color;
      }
    }
  }

  

}


/* Mobile and resize stuff*/
@import "resize.scss";

