@media (max-width:1022px) {
  input#search{
    margin-bottom: 20px;
  }
}

/* Header */
@media (max-width:930px) {
  nav#nav-bar{
    display: none;
  }
  button#menu-button{
    display: block;
  }
}


@media (max-width:760px){
  div#recents-container{
    bottom: 0px;
    border: none;
    border-radius: 0px;
    border-top: 2px solid #e0e0e0;
  }

  input#search{
    border: none;
    border-bottom: 2px solid #e0e0e0;
    outline: none;
    margin-top: 2px;
    transition: all ease .5s;
    width: 80%;
  }
}
